---
statefulset:
    name: mongodb
    replicas: 1 
    labels:
        app: mongodb
container:
     name: mangodb
     tags: 4.2
     ports:
        containerPort: 27017
     resources:
       requests:
         cpu: 5m
         memory: 75mi
       limits:
         cpu: 25m
         memory: 1024mi
livenessprobe:
       initialdelayseconds: 30
       periodseconds: 10
       timeoutseconds: 5
       failurethreshold: 3
readinessprobe:
       initialDelaySeconds: 5
       periodSeconds: 5
       timeoutSeconds: 5
       failureThreshold: 3
type: clusterIP
---
configmap:
    name: rabbitmq-enable-plugins
secrets:
    name: rabbitmq-secrets
rabbit:
    name: rabbitmq
    serviceName: rabbitmq
    replicas: 1
    labels:
       app: rabbitmq 
containers:
    name: rabbitmq
    tags: 3.13
    ports:
     - containerPort: 5672
       name: rabbitmq-amqp
     - containerPort: 15672
       name: rabbitmq-http
    resources:
      requests:
         cpu: 10m
         memory: 128mi
      limits:
         cpu: 250mi
         memory: 256Mi
    startupprobe:
       tcpsocket:
         port: 5672
       failureThreshold: 30
       initialDelaySeconds: 10
       periodSeconds: 10
    readinessprobe:
       tcpSocket:
         port: 5672
       failureThreshold: 3
       initialDelaySeconds: 5
       periodSeconds: 5
    livenessprobe:
       tcpsocket:
          port: 56721
       failurethreshold: 3
       initialdelayseconds: 30
       periodseconds: 10
    volumeMounts:
       name: rabbitmq-enabled-plugins
       mountPath: /etc/rabbitmq/enabled_plugins
       subPath: enabled_plugins
path: enabled_plugins
ports:
   - name: rabbitmq-amqp
     port: 5672
     targetport: 15672
   - name: rabbitmq-http
     port: 15672
     targetport: 15672
type1: clusterIP
---
Deployment:
    name: makeline-service
    replicas: 1
    labels:
     app: makeline-service
containers:
    name: makeline-service
    tags: 2.1.0
    ports:
      - containerPort: 3001
    resources:
       requests:
          cpu: 1m
          memory: 6Mi
       limits:
          cpu: 5m
          memory: 20Mi
    startupProbe:
            httpGet:
              path: /health
              port: 3001
            failureThreshold: 10
            periodSeconds: 5
    readinessProbe:
            httpGet:
              path: /health
              port: 3001
            failureThreshold: 3
            initialDelaySeconds: 3
            periodSeconds: 5
    livenessProbe:
            httpGet:
              path: /health
              port: 3001
            failureThreshold: 5
            initialDelaySeconds: 3
            periodSeconds: 3
service:
     name: makeline-service
     ports:
       - name: http
         port: 3001
         targetPort: 3001
     selector:
          app: makeline-service
---
configmap:
    name: order_service-configs
secret:
    name: order_service-secrets
Deployment:
    name: order_service
    replicas: 1
    labels:
       app: order-service
containers:
    name: order-service
    tags: 2.1.0
    ports:
       containerPort: 3000
    resources:
       requests:
         cpu: 1m
         memory: 50Mi
       limits:
          cpu: 100m
          memory: 256Mi
    startupProbe:
       httpGet:
          path: /health
          port: 3000
       failureThreshold: 5
       initialDelaySeconds: 20
       periodSeconds: 10
    readinessProbe:
       httpGet:
           path: /health
           port: 3000
       failureThreshold: 3
       initialDelaySeconds: 3
       periodSeconds: 5
    livenessProbe:
       httpGet:
          path: /health
          port: 3000
       failureThreshold: 5
       initialDelaySeconds: 3
       periodSeconds: 3
    initContainers:
         name: wait-for-rabbitmq
         tags: 1.37.0
         resources:
            requests:
              cpu: 1m
              memory: 50Mi
            limits:
              cpu: 100m
              memory: 256Mi
---
service:
    name: order-service
    ports:
      name: http
      port: 3000
      targetPort: 3000
      selector:
         app: order-service
---
Deployment:
   name: product-service
   replicas: 1
   labels:
      app: product-service
containers:
   name: product-service
   tags: 2.1.0
   ports:
        containerPort: 3002
   resources:
      requests:
         cpu: 1m
         memory: 1Mi
      limits:
         cpu: 2m
         memory: 20Mi 
   readinessProbe:
      httpGet:
         path: /health
         port: 3002
      failureThreshold: 3
      initialDelaySeconds: 3
      periodSeconds: 5
   livenessProbe:
      httpGet:
         path: /health
         port: 3002
      failureThreshold: 5
      initialDelaySeconds: 3
      periodSeconds: 3
---
service:
   name: product-service
   ports:
     name: http
     port: 3002
     targetPort: 3002
     selector:
          app: product-service
---
   Deployment:
    name: store-admine
    replicas: 1
    labels:
       app: store-admin
   containers:
    name: store-admin
    tags: 2.1.0
    ports:
        containerPort: 8081
        name: store-admin
    resources:
      requests:
         cpu: 1m
         memory: 200Mi
      limits:
         cpu: 1000m
         memory: 512Mi
    startupProbe:
         httpGet:
           path: /health
           port: 8081
         failureThreshold: 3
         initialDelaySeconds: 5
         periodSeconds: 5
    readinessProbe:
         httpGet:
              path: /health
              port: 8081
         failureThreshold: 3
         initialDelaySeconds: 3
         periodSeconds: 5
    livenessProbe:
         httpGet:
              path: /health
              port: 8081
         failureThreshold: 5
         initialDelaySeconds: 3
         periodSeconds: 3
            
   service:
    name: store-admin
    ports:
        port: 80
        targetPort: 8081
    selector:
        app: store-admin
    type1: clusterIP
                
    Deployment:
     name: store-front
     replicas: 1
     labels:
        app: store-front
   containers:
     name: store-front
     tags: 2.1.0
     ports:
        containerPort: 8080
        name: store-front
     resources:
         requests:
            cpu: 1m
            memory: 200Mi
         limits:
            cpu: 1000m
            memory: 512Mi
     startupProbe:
        httpGet:
           path: /health
           port: 8080
        failureThreshold: 3
        initialDelaySeconds: 5
        periodSeconds: 5
     readinessProbe:
        httpGet:
           path: /health
           port: 8080
        failureThreshold: 3
        initialDelaySeconds: 3
        periodSeconds: 3
     livenessProbe:
        httpGet:
           path: /health
           port: 8080
        failureThreshold: 5
        initialDelaySeconds: 3
        periodSeconds: 3
   service:
   name: store-front
   ports:
      port: 80
      targetPort: 8080
   selector:
       app: store-front
   type1: clusterIP
---
Deployment:
    name: virtual-customer
    replicas: 1
    labels:
       app: virtual-customer
containers:
     name: virtual-customer
     tags: 2.1.0
     ports:
     resources:
       requests:
          cpu: 1m
          memory: 1Mi
       limits:
          cpu: 2m
          memory: 20Mi
     readinessProbe:
       exec:
         command:
             cat
             /proc/1/status
       failureThreshold: 3
       initialDelaySeconds: 3
       periodSeconds: 5
     livenessProbe:
       exec:
         command:
             - cat
             - /proc/1/status
       failureThreshold: 5
       initialDelaySeconds: 10
       periodSeconds: 10
       
Deployment: 
     name: virtual-worker
     replicas: 1
     labels:
        app: virtual-worker
containers:
      name: virtual-worker
      tags: 2.1.0
      resources:
         requests:
             cpu: 1m
             memory: 1Mi
         limits:
             cpu: 2m
             memory: 20Mi
      readinessProbe:
          exec:
             command:
               - cat
               - /proc/1/status
          failureThreshold: 3
          initialDelaySeconds: 3
          periodSeconds: 5
      livenessProbe:
          exec:
             command:
               - cat
               - /proc/1/status
          failureThreshold: 5
          initialDelaySeconds: 10
          periodSeconds: 100